.weather-container {
  text-align: center;
  padding: 20px;
}

.weather-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 13%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-card img {
  width: 50px;
  height: 50px;
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .weather-card {
    width: 18%;
  }
}

@media (max-width: 992px) {
  .weather-card {
    width: 22%;
  }
}

@media (max-width: 768px) {
  .weather-cards-container {
    justify-content: center;
  }

  .weather-card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .weather-card {
    width: 100%;
  }
}
